body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

header {
    background: black;
    color: white;
    padding: 15px;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.btn {
    padding: 10px 20px;
    background: #ff4b2b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: #ff416c;
    transform: scale(1.1);
}